<!DOCTYPE html>
<html>
{{> global-head}}
<body>
	<header class="container container-small">
		<h1>My Home</h1>
	</header>
	<main id="main" class="container container-small">
		<h2>My Account</h2>
		<div class="content-wrapper">
			<div class="user-profile">
				<div class="user-image-wrapper">
					<img src="" class="user-image" />
				</div>
				<div class="user-detail-wrapper">
					<div class="user-name">
						<h3>__userName__</h3>
					</div>
					<div class="user-phone">
						<p>__userPhone__</p>
					</div>
					<div class="user-address">
						<p>__streetAddress__</p>
						<p>__city__</p>
						<p>__state__</p>
						<p>__zip__</p>
					</div>
					<div class="user-actions">
						<a href="/account-edit.html">Edit Account</a>
					</div>
				</div>
			</div>
		</div>
	</main>
</body>