<!DOCTYPE html>
<html>
	{{> global-head}}
	<body>
		<header class="container container-small">
			<h1>My Home</h1>
		</header>
		<main id="main" class="container container-small">
			<h2>Create Account</h2>
			<form id="js-form-create-account" action="" method="POST" class="">
				<div class="input-wrapper">
					<label for="first-name">First Name</label>
					<input id="first-name" type="text" name="first_name" class="input" />
				</div>
				<div class="input-wrapper">
					<label for="last-name">Last Name</label>
					<input id="last-name" type="text" name="last_name" class="input" />
				</div>
				<div class="input-wrapper">
					<label for="street-address">Street Address</label>
					<input id="street-address" type="text" name="street_address" class="input" />
				</div>
				<div class="input-wrapper">
					<label for="city-address">City</label>
					<input id="city-address" type="text" name="city_address" class="input" />
				</div>
				<div class="input-wrapper">
					<label for="state-address">State</label>
					<input id="state-address" type="text" name="state_address" class="input" />
				</div>
				<div class="input-wrapper">
					<label for="zip-address">Zip</label>
					<input id="zip-address" type="text" name="zip_address" class="input" />
				</div>
				<div class="input-wrapper">
					<label for="email-address">Email Address</label>
					<input id="email-address" type="text" name="email_address" class="input" />
				</div>
				<div class="input-wrapper">
					<label for="phone-number">Phone Number</label>
					<input id="phone-number" type="text" name="phone_number" class="input" />
				</div>
				<div class="input-wrapper">
					<label for="password">Password</label>
					<input id="password" type="password" name="password" class="input" />
				</div>
				<div class="input-wrapper">
					<input type="submit" value="Register" class="input" />
				</div>
				<div class="input-wrapper row row-between">
					<div class="link-wrapper">
						<a href="/index.html">Login</a>
					</div>
					<div class="link-wrapper"></div>
						<a href="/password-forgot.html">Forgot Password</a>
					</div>
				</div>
			</form>
		</main>
		<footer>
			
		</footer>
		<script type="text/javascript" src="/js/amazon-cognito-identity.min.js"></script>
		<script type="text/javascript">
			function registerUser(user) {
				var poolData = {
					UserPoolId: 'us-east-1_MtlgYMnLG', // Your user pool id here
					ClientId: '7koj2f36b7ouj4a3kvn5n71qb8' // Your client id here
				};
				var userPool = new AmazonCognitoIdentity.CognitoUserPool(poolData);

				var attributeList = [];

				var dataEmail = {
					Name: 'email',
					Value: user.emailAddress
				};

				var dataPhoneNumber = {
					Name: 'phone_number',
					Value: user.phoneNumber,
				};
				var attributeEmail = new AmazonCognitoIdentity.CognitoUserAttribute(dataEmail);
				var attributePhoneNumber = new AmazonCognitoIdentity.CognitoUserAttribute(
					dataPhoneNumber
				);

				attributeList.push(attributeEmail);
				attributeList.push(attributePhoneNumber);

				userPool.signUp(user.emailAddress, user.password, attributeList, null, function(err,result) {
					if (err) {
						alert(err.message || JSON.stringify(err));
						return;
					}
					var cognitoUser = result.user;
					console.log('user name is ' + cognitoUser.getUsername());
					window.location.href = '/account-confirmation.html';
				});
			}
			var form = document.querySelector('#js-form-create-account');	
			form.addEventListener('submit', function(e) {
				e.preventDefault();
				var user = {
					emailAddress: form.elements['email_address'].value,
					phoneNumber: form.elements['phone_number'].value,
					password: form.elements['password'].value
				};
				registerUser(user);
			});
		</script>
	</body>
</html>