<!DOCTYPE html>
<html>
{{> global-head}}
<body>
	{{> header}}
	<main id="main" class="container container-small">
		<h2>Change Password</h2>
		<form id="js-form-change-password" action="" method="POST" class="">
			<div class="input-wrapper">
				<label for="user-password-old">Old Password</label>
				<input id="user-password-old" type="password" name="old_password" class="input" />
			</div>
			<div class="input-wrapper">
				<label for="user-password-new">New Password</label>
				<input id="user-password-new" type="password" name="new_password" class="input" />
			</div>
			<div class="input-wrapper">
				<input type="submit" value="Change Password" class="input" />
			</div>
		</form>
	</main>
	{{> global-scripts}}
	<script type="text/javascript">

		function updateUser(user) {

		}

		function changePassword(user) {
			// get user details from localstorage if available
			/*
			var poolData = {
				UserPoolId: 'us-east-1_fIIpe0d9e', // Your user pool id here
				ClientId: '48d0a2d8dq14iivse1t20nrd7h' // Your client id here
			};
			var userPool = new AmazonCognitoIdentity.CognitoUserPool(poolData);
			// get current user based on local storage
			var cognitoUser = userPool.getCurrentUser();
			// if no user then ask email
			if( cognitoUser != null ) {
				return cognitoUser.getSession(function(err, session) {
					if (err) {
						// alert(err.message || JSON.stringify(err));
						return false;
					}
					console.log('session validity: ' + session.isValid());
					return true;
				});
			}
			*/
			var poolData = {
				UserPoolId: 'us-east-1_fIIpe0d9e', // Your user pool id here
				ClientId: '48d0a2d8dq14iivse1t20nrd7h', // Your client id here
			};
			var userPool = new AmazonCognitoIdentity.CognitoUserPool(poolData);
			var userData = {
				Username: 'dean.gilewicz@homeadvisor.com', // get from initial call to get user
				Pool: userPool,
			};
			var cognitoUser = new AmazonCognitoIdentity.CognitoUser(userData);
			cognitoUser.changePassword(user.oldPassword, user.newPassword, function(err, result) {
        if (err) {
					alert(err.message || JSON.stringify(err));
					return;
        }
        // console.log('call result: ' + result);
			});
		}
		var form = document.querySelector('#js-form-change-password');	
		form.addEventListener('submit', function(e) {
			e.preventDefault();
			var user = {
				oldPassword: form.elements['old_password'].value,
				newPassword: form.elements['new_password'].value
			};
			changePassword(user);
		});
	</script>
</body>