<h2>My Projects</h2>
<div class="content-wrapper">
	<div class="project-create">
		<a href="/project-create.html">Add Project</a>
	</div>
	<div class="project">
		<div class="project-status">
			<h3>__ProjectStatus__</h3>
		</div>
		<div class="project-type">
			<h4>__ProjectType__</h4>
		</div>
		<div class="project-details">
			<div class="project-images-wrapper">
				<img src="" class="project-image" />
			</div>
			<div class="project-description">
				<p>__ProjectDecription__</p>
			</div>
		</div>
		<div class="project-actions">
			<div class="project-edit">
				<a href="/project-edit.html" class="btn">Edit</a>
			</div>
			<div class="project-delete">
				<button class="btn">Delete</button>
			</div>
		</div>
	</div>
</div>