<!DOCTYPE html>
<html>
	{{> global-head}}
	<body id="home-projects">
		<header>
			<button id="js-logout" class="btn">Logout</button>
		</header>
		<main id="js-partial-projects" class="container container-small">
			{{!-- js generated --}}
		</main>
		<script src="/js/atomic.polyfills.min.js"></script>
		<script type="text/javascript" src="/js/amazon-cognito-identity.min.js"></script>
		<script>
			var numberOfProjects = 1;
			if( numberOfProjects > 0 ) {
				atomic('http://localhost:3000/home-partial-some-projects.html')
				.then(function (response) {
					// console.log(response);
					// console.log(response.data); // xhr.responseText
					// console.log(response.xhr);  // full response
					var dynamicContentArea = document.querySelector('#js-partial-projects');
					if( dynamicContentArea ) {
						dynamicContentArea.innerHTML = response.data;
					}
				})
				.catch(function (error) {
					console.error(error);
					// console.log(error.status); // xhr.status
					// console.log(error.statusText); // xhr.statusText
				});
			} else {
				atomic('http://localhost:3000/home-partial-no-projects.html')
				.then(function (response) {
					// console.log(response);
					// console.log(response.data); // xhr.responseText
					// console.log(response.xhr);  // full response
					var dynamicContentArea = document.querySelector('#js-partial-projects');
					if( dynamicContentArea ) {
						dynamicContentArea.innerHTML = response.data;
					}
				})
				.catch(function (error) {
					console.error(error);
					// console.log(error.status); // xhr.status
					// console.log(error.statusText); // xhr.statusText
				});
			}

			function logout() {
				var poolData = {
					UserPoolId: 'us-east-1_I2J13P1aB', // Your user pool id here
					ClientId: '49ce2mo2f2dk13oc0e4a0dmtsa' // Your client id here
				};
				var userPool = new AmazonCognitoIdentity.CognitoUserPool(poolData);
				// get current user based on local storage
				var cognitoUser = userPool.getCurrentUser();
				if( cognitoUser != null ) {
					cognitoUser.signOut();
					window.location.href = "/";
				}
			}
			var btnLogout = document.querySelector('#js-logout');
			btnLogout.addEventListener('click', function(e) {
				e.preventDefault();
				logout();
			});
		</script>
	</body>
</html>


