<h2>Get Started</h2>
<div class="content-wrapper">
	<p>We have workers ready to tackle any project you can't do, or can't be bothered to do. Get a quote and see if it makes sense to hire one of our licensed professioal workers.</p>
	<a href="/workers-project.html" class="btn">Find Worker</a>
</div>