<!DOCTYPE html>
<html>
	{{> global-head}}
	<body id="home-projects">
		<header class="container container-small">
			<div class="row row-between">
				<h1><a href="/" class="link-none">My Home</a></h1>
			</div>
		</header>
		<main id="js-partial-projects" class="container container-small">
			<h2 id="page-title">My Offline Projects</h2>
			<div class="project-create">
				<a href="/workers-project.html" class="find-worker-link">Find Worker</a>
			</div>
			<div class="projects-wrapper">
				<div class="project">
					<div class="project-type">
						<h4>Garage Remodel</h4>
					</div>
					<div class="project-details">
						<div class="project-description">
							<p>New garage project</p>
						</div>
					</div>
					<div class="project-actions row row-start">
						<div class="project-edit">
							<a href="/project-edit.html" class="btn">Edit</a>
						</div>
						<div class="project-delete">
							<button class="btn">Delete</button>
						</div>
					</div>
				</div>
			
				<div class="project">
					<div class="project-type">
						<h4>Kitchen Remodel</h4>
					</div>
					<div class="project-details">
						<div class="project-description">
							<p>redo kitchen</p>
						</div>
					</div>
					<div class="project-actions row row-start">
						<div class="project-edit">
							<a href="/project-edit.html" class="btn">Edit</a>
						</div>
						<div class="project-delete">
							<button class="btn">Delete</button>
						</div>
					</div>
				</div>
			
				<div class="project">
					<div class="project-type">
						<h4>Bathroom Remodel</h4>
					</div>
					<div class="project-details">
						<div class="project-description">
							<p>new one</p>
						</div>
					</div>
					<div class="project-actions row row-start">
						<div class="project-edit">
							<a href="/project-edit.html" class="btn">Edit</a>
						</div>
						<div class="project-delete">
							<button class="btn">Delete</button>
						</div>
					</div>
				</div>
			</div>
		</main>
	</body>
</html>