<!DOCTYPE html>
<html>
	{{> global-head}}
	<body>
		<header class="container container-small">
			<h1>My Home</h1>
		</header>
		<main id="main" class="container container-small">
			<h2>Login</h2>
			<form id="js-form-login" action="" method="POST" class="">
				<div class="input-wrapper">
					<label for="email-address">Email Address</label>
					<input id="email-address" type="text" name="email_address" class="input" />
				</div>
				<div class="input-wrapper">
					<label for="password">Password</label>
					<input id="password" type="password" name="password" class="input" />
				</div>
				<div class="input-wrapper">
					<input type="submit" value="Login" class="input" />
				</div>
				<div class="input-wrapper row row-between">
					<div class="link-wrapper">
						<a href="/password-forgot.html">Forgot Password</a>
					</div>
					<div class="link-wrapper"></div>
						<a href="/account-create.html">Create Account</a>
					</div>
				</div>
			</form>
		</main>
		<footer>

		</footer>
		<script>
			// if( navigator.serviceWorker ) {
			// 	navigator.serviceWorker.register('/serviceworker.js')
			// 		.then( registration => {
			// 			console.log('registration', registration);
			// 			// register for a sync - triggers when online - client to server - If you register for a sync using the same tag as a pending sync, it will combine with the existing sync. Use unique tags for separate sync events
			// 			return registration.sync.register('myFirstSync')
			// 				.then( () => {
			// 					console.log('myFirstSync set up');
			// 				})
			// 		})
			// 		.catch( err => console.error('error', err) );
			// 	if( navigator.serviceWorker.controller ) {
			// 		// trigger a message event to communicate with service worker on page load
			// 		window.addEventListener('load', () => {
			// 			navigator.serviceWorker.controller.postMessage('postForm');
			// 		});
			// 	}
			// }
		</script>
	</body>
</html>
