<!DOCTYPE html>
<html>
	{{> global-head}}
	<body>
		<header class="container container-small">
			<h1>My Home</h1>
		</header>
		<main id="main" class="container container-small">
			<h2>Forgot Password</h2>
			<form id="js-form-forgot-password" action="" method="POST" class="">
				{{!-- <div class="input-wrapper">
					<label for="first-name">First Name</label>
					<input id="first-name" type="text" name="first_name" class="input" />
				</div>
				<div class="input-wrapper">
					<label for="last-name">Last Name</label>
					<input id="last-name" type="text" name="last_name" class="input" />
				</div> --}}
				<div class="input-wrapper">
					<label for="email-address">Email Address</label>
					<input id="email-address" type="text" name="email_address" class="input" />
				</div>
				<div class="input-wrapper">
					<input type="submit" value="Submit" class="input" />
				</div>
				<div class="input-wrapper row row-between">
					<div class="link-wrapper">
						<a href="/index.html">Login</a>
					</div>
					<div class="link-wrapper"></div>
						<a href="/account-create.html">Create Account</a>
					</div>
				</div>
			</form>
		</main>
		<footer>

		</footer>
		<script type="text/javascript" src="/js/amazon-cognito-identity.min.js"></script>
		<script type="text/javascript">

			function forgotPassword(user) {
				var poolData = {
					UserPoolId: 'us-east-1_MtlgYMnLG', // Your user pool id here
					ClientId: '7koj2f36b7ouj4a3kvn5n71qb8', // Your client id here
				};
				var userPool = new AmazonCognitoIdentity.CognitoUserPool(poolData);
				var userData = {
					Username: user.emailAddress,
					Pool: userPool,
				};
				var cognitoUser = new AmazonCognitoIdentity.CognitoUser(userData);

				cognitoUser.forgotPassword({
					onSuccess: function(result) {
						console.log('call result: ' + result);
					},
					onFailure: function(err) {
						alert(err.message || JSON.stringify(err));
					},
					inputVerificationCode() {
						var verificationCode = prompt('Please input verification code ' ,'');
						var newPassword = prompt('Enter new password ' ,'');
						cognitoUser.confirmPassword(verificationCode, newPassword, this);
					}
				});
			}
			var form = document.querySelector('#js-form-forgot-password');
			form.addEventListener('submit', function(e) {
				e.preventDefault();
				var user = {
					emailAddress: form.elements['email_address'].value
				};
				forgotPassword(user);
			});
		</script>
	</body>
</html>
