<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="description" content="My Home: An application for homeowners" />
		<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
		<title>My Home</title>
		<!-- Icons -->
		<link rel="shortcut icon" type="image/ico" href="favicon.ico" />
		<!-- Stylesheet -->
		<link rel="stylesheet" href="/css/main.min.css" type="text/css" />
		<!-- PWA -->
		<link rel="manifest" href="/manifest.json" />
	</head>