<div id="js-global-nav" class="global-nav-wrapper">
	<nav class="global-nav">
		<ul class="global-nav-items">
			<li>
				<a href="/account-profile.html" class="">My Account</a>
			</li>
			<li>
				<a href="/" class="">Inbox</a>
			</li>
			<li>
				<a href="/home-projects.html" class="">My Projects</a>
			</li>
			<li>
				<a href="/" class="">Saved Workers</a>
			</li>
			<li>
				<a href="/" class="">Payments</a>
			</li>
			<li>
				<button id="js-logout" class="btn">Logout</button>
			</li>
		</ul>
	</nav>
</div>