{{> global-nav}}
<header class="container container-small">
	<div class="row row-between">
		<h1><a href="/" class="link-none">My Home</a></h1>
		<button id="js-menu" class="btn">Menu</button>
	</div>
</header>